html{
    background-color: bisque;
}

.body{
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

}

.gifs{
    width: 150px;
    border: solid 5px black;
}

#pet{
    font-size: 70px;
}

#petName{
    font-size: 100px;
}

.button{
    font-size: 30px;
    width: 120px;
    margin: 10px;
    background-color: black;
    color: white;
    height: 40px;
    border-radius: 5px;
}

.actions{
    display: none;
}

#feed{

}

#drink{

}

#nap{

}

.begin{
    font-size: 30px;
    width: 120px;
    margin: 10px;
    background-color: rgb(47, 255, 85);
    color: rgb(11, 5, 5);
    height: 40px;
    border-radius: 5px;
}

.progressLabel{
    font-size: 25px;
}

.progress{
    font-size: 50px;
}

.progressBar{
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    padding: 20px;
    margin: 10px;

}

#gameOver{
    color: red;
    background-color: black;
    display: none;
}