html{
    background-color: bisque;
}

.body{
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    
}

#pet{
    
}

.actions{

}

#feed{

}

#drink{

}

#nap{

}

#play{

}


.healthBar{
    color: black
}

