html{
    background-color: bisque;
}

.body{
    text-align: center;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

}

.gifs{
    width: 150px;
    border: solid 5px black;
}

#pet{
    font-size: 70px;
}

#petName{
    font-size: 100px;
}

#buttons{
    align-items: center;
    font-size: 100px;
    justify-content: center;
    text-align: center;
    display: none;
}

.actions{

}

#feed{

}

#drink{

}

#nap{

}

#play{

}


.healthBar{
    color: black;
    background-color: rgba(0, 255, 72, 0.729);
    display: none;
}

#gameOver{
    color: red;
    background-color: black;
    display: none;
}